// Masthead
//
// Super small header above the content for site name and short description.

.main-logo {
      width: 160px;
      height: 60px;
      background: url('/public/images/popily_logo.svg') center center no-repeat #54C88A;
      display: block;
      background-size: auto 40px;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	background: rgba(65,65,65,.8);
	}
#nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 18px;
	text-decoration: none;
	color: #fff;
  font-size: .75rem;
  text-transform: uppercase;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
letter-spacing: 1.2px;
	 }
#nav li:first-child a {
	 }
#nav li a:hover {
	color: #54c88a;
	}

.bar {
    background: url('/public/images/bg-diagrams-big.svg') center center/cover no-repeat;
}

.hero {
    text-align: center;
    padding: 100px 1.5em 2em 1.5em;
}
