// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    0rem;
  padding-bottom: 0rem;
  margin-bottom: 4rem;
  background: #424242;
  color: #fff;
  text-align: right;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;
  color: #fff;

  a {
    color: inherit;
    color: #fff;
  }
}

.main-logo {
      width: 160px;
      height: 60px;
      background: url('/public/images/popily_logo.svg') center center no-repeat #54C88A;
      display: block;
      background-size: auto 40px;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 2.6em 0;
	padding: 0;
	background: rgba(65,65,65,.8);
	}
#nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 0; }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 18px;
	text-decoration: none;
	color: #fff;
  font-size: .75rem;
  text-transform: uppercase;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
letter-spacing: 1.2px;
	 }
#nav li:first-child a {
	 }
#nav li a:hover {
	color: #54c88a;
	}
