// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 3em;
  padding-bottom: 1em;
  background: url('/public/images/icon-star.svg')  bottom center no-repeat;

  li + li {
    margin-top: .25rem;
  }
}

// Bar post or page title
.page-title,
.post-title,
.post-title a {
  color: #6cffb0;
  font-size: 2.2rem;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Bar data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  color: #eee;
  font-size: 1.1rem;
}

// Blog post or page title
.content .page-title,
.content .post-title,
.content .post-title a {
  color: #424242;
  font-size: 1.5rem;
}
.content .page-title,
.content .post-title {
  margin-top: 0;
}

// Blog data line below post title
.content .post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #424242;
  font-size: .9rem;
}
